{%extends 'base.html' %}
{% load static %}

{% block content %}
    <style>

     @keyframes blink {
         from {
             background-color: red;
             color: white;
         }
         to {
             background-color: white;
             color: red;
         }
     }

     .canvas {
         text-align: center;
     }

     /* run the animation on .message when it also has the class .blink */
     messages.blink {
         animation: blink 1s linear infinite alternate;
     }
    </style>

    <div class="container user-content">
        <div class="user-content-display">
        </div>
    </div>

    <div id="container">
        <h1>Add an item</h1>
        <p>Use the barcode reader button to detect and read a barcode of a product or take a picture and let the app recognize your item. </p>
        <p class="sub">Just place any type of code (bar or QR) or item in front of camera of mobile or laptop or tablet.</p>
        <div class="audio">
            <label for="audioSource"></label><select id="audioSource"></select>
        </div>

        <div class="video-field">
            <div id="result_strip">
                <ul class="thumbnails"></ul>
            </div>
            {#                <div class="decoration"></div>#}
            <div class="dropdown-menu">
                <label for="videoSource"><i class='btn btn-lg'>camera_rear</i></label><select id="videoSource"></select>
            </div>
            <video id="video" muted autoplay></video>
            <button class="btn btn-light btn-xls" id="startbutton"><i class='material-icons'>SCAN CODE</i></button>
            <button class="btn btn-dark btn-xrs" id="scanbutton"><i class='material-icons'>DETECT OBJECT</i></button>
            
        </div>




        {#            <div id="interactive" class="viewport"><video autoplay="true" preload="auto" src="" muted="true" playsinline="true"></video>#}
        <ul id="decoded"></ul>

        <canvas id="canvas" class="drawingBuffer"></canvas><br clear="all"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {#            <script src="{% static 'js/quagga.min.js' %}"></script>#}
    <script src="{% static 'js/main.js' %}"></script>
    </div>
    {% include 'includes/script.html'%}
        {% endblock %}
