<!doctype html lang='en'>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	  <title>MnjamMnjam</title>

    <style>

 
     .btn-danger {
         size: 200%,
     }
     .btn-xl {
         padding: 200px 100px;
         font-size: 20px;
         border-radius: 10px;
         position:absolute;
         left:-220px;
         top:120px;
     }
     .btn-xr {
         padding: 200px 100px;
         font-size: 20px;
         border-radius: 10px;
         position:absolute;
         right:-220px;
         top:120px;
     }
     .btn-xls {
         padding: 225px 100px;
         font-size: 20px;
         border-radius: 10px;
         position:absolute;
         left:-300px;
         top:230px;        
     }
     .btn-xrs {
         padding: 225px 100px;
         font-size: 20px;
         border-radius: 10px;
         position:absolute;
         right:-180px;
         top:230px;


     }

     .btn-add {
         padding: 20px 200px;
         font-size: 20px;
         border-radius: 10px;

     }

     .ing_img {
         border-radius: 8px;
         max-width: 500px;
         min-width: 300px;
         height: auto;
         text-align: center;

     }
     .audio {
         visibility: hidden;
     }
     .drawingBuffer {
         visibility: hidden;
     }
    </style>
</head>
<body>
	{% include 'navbar.html' %}

	<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">

          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

</body>
</html>
