{% load static %}
<style>
 .title_img {
     width: 50%;
     height: auto;

 }

 .navbar-brand {
     width: 15%;
     height: auto;

 }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="{% static "base/file.jpg" %}" alt="MnjamMnjam" class="title_img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">MnjamMnjam <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Recipes and Ingredients</a>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/base/recipe/list">See recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/recipe/create">Create a new recipe</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/base/ingredient/list">See ingredients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/ingredient/create">Create a new ingredient</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/swiper">Swiper Your Meal</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/swiper/swipe">Do some swiping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/swiper/list">See swiping results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/swiper/matchlist">View Matches</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scan_item">Scan/Detect Item</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/scan_item/add_ingredient">Add Scanned/Detected Item</a>
              </li>
          </ul>
      </li>

    </ul>
  </div>
</nav>
