{% extends 'base.html' %}

{% block content %}
<h1>Card Swipe View</h1>

{% if object == None %}
No more cards left to swipe.
<form method='POST'> {% csrf_token %}
    <button type="submit" name="submit-reset" value="1">Reset all swipes</button>
</form>
<a href='../list'>View swiping results</a>

{% else %}
<p>Name: {{ object.name }}</p>
{% if object.img_path == None %}
    <img class='ing_img' src="https://images-na.ssl-images-amazon.com/images/I/512n3p9EpEL._AC_SX466_.jpg" alt="A placeholder image">
{% else %}
    <div class="text-center">
        <img class='ing_img' src= {{ object.img_path }} alt="An image">
    </div>
{% endif %}
<p> <b>Description:</b> {{ object.detail_info }}</p>
<p><b>Score:</b> {{ object.score }}</p>

<form method='POST'> {% csrf_token %}
    <button class="btn btn-success btn-xl" type="submit" name="submit-yes" value="1">Yes</button>
    <button class="btn btn-danger btn-xr" type="submit" name="submit-no" value="1" >No</button>
</form>
{% endif %}
{% endblock %}
