<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Card Swiper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/swiper/swipe">Do some swiping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/swiper/list">See swiping results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/swiper/matchlist">ViewMatches</a>
      </li>
    </ul>
  </div>
</nav>
