
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $("#content-main").css({'height':window.innerHeight});
    $("#login").css({'height':window.innerHeight});
    $(".dropdown-button").dropdown();
</script>
<script>

    $(".button-collapse").sideNav();

    {#});#}


  // Or with jQuery

  $('.dropdown-trigger').dropdown();
</script>
