{%extends 'base.html' %}

{% load static %}
<style>
 .mycontent-left {
     border-right: 1px dashed #333;
 }
</style>

{% block content %}
    <h1 class="page-title">{{ product_name }}</h1>
    <form action='{% url 'bar:add_new_ingr' %}' method='GET'>
        <button class='btn btn-success btn-add' type='submit'>Add Item</button>
    </form>
    <div class="viewport">
        <div class="container ">
            <div class="row">
                <div class="span6">
                    <div class="mycontent-left">

                        <img class="ing_img" src={{ image }} alt="Item-Image">
                    </div>
                </div>
                <div class="span6">
                    <div class="mycontent-right">

            <!-- Headers received from client. -->
            <div class="table-container headers">
                <h2>Nutritions</h2>
                <table class="header-table  table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Nutritions Name</th>
                            <th scope="col">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nutrition in nutritions %}
                            <tr>
                                <td class="key-cell">
                                    <span>{{ nutrition.0 }}</span>
                                </td>
                                <td class="value-cell">
                                    <span>{{ nutrition.1 }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
