{% extends 'base.html' %}

{% block content %}
    <h1>Preference View</h1>
    <p>Your are:<b> {{ object.eat_pref }}</b></p>
    <p>You want to <b>{{ object.eat_goal }}</pb> weight</p>
    <p>You want to cook <b>{{ object.cooking_pref }}</pb> recipes</p>
   {% if object.health_pref == 1 %}
        You want to eat healthy.
   {% else %}
       You do not care about healthy food.
   {% endif %}
{% endblock %}
