*{
    padding:0;
    margin:0;
}
body{
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Tajawal', sans-serif;
}
.container{
    width:100% !important;
    max-width: 100%!important;
}
.mynavcolor{
    background: rgba(0,0,0,0);
    position: absolute;
    width:100%;
    box-shadow: none !important;
}
#content-main{
    width:100% !important;
    height: 100%;
    height: -webkit-fill-available;
    margin:0px;
    display:flex;
    top:0;
    max-width: 100%!important;

}


#nav-mobile li a {
    font-size: 30px;
    color: white;
}
#nav-desk li a{
    font-size:22px;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;

    display:flex;
}
#nav-desk li:hover a{
    text-decoration:underline white dashed;
    background:rgba(250, 235, 215, 0);
}
.side-nav{
    text-align: center !important;
    padding-top:20%;
    background:#fc6767c4;
}


/*USER Page*/

.user-content{
    height:60px;
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fc6767, #ec008c);
}
.dropdown-content li a{
    color:#fc6767 !important;
}



div.select{
  width:180px;
  display:flex;
  color:#ec008c;border: 1px #ec008c dashed;
  text-align:center;
  border-radius:20px;
  position:absolute;
  z-index:10000;
  margin:20px;
}
#result_strip{
  background:rgba(238, 238, 238,0);
  width:90%;
  height:auto;
  position:absolute;
    text-align: left !important;
  z-index:100;
  color:#ec008c;
  font-weight:500;
  margin-top:100px;
  margin-left:5%;
}
@media(min-width:600px){
  div.select{
  left:calc(50% - 250px);
  }
  #result_strip{
  left:calc(50% - 250px);
}
}

.select i{
  color:#ec008c;
}
.select > label{
  align-items:center;
  display:flex;
  margin-left:5px;
}

.select > #videoSource{
  display:block;
  width:180px;
  padding-top:10px;
  font-size:12px;
  text-align:center;
  float:left;
  border:0px;
  margin-right:15px;
   background: transparent;

}

#container{
  text-align:center;
}
#container h1{
    font-size: 35px;
    margin: 20px 10px;
}
#container p{
    font-size: 18px;

}
/* #startbutton{ */
/*   position:absolute; */
/*   background:#ec008c; */
/*     display:block; */
/*     width:50px; */
/*     height:50px; */
/*     text-align:center; */
/*     border: 2px #ec008c solid; */
/*     border-radius:50%;; */
/*     float:right; */
/*     margin-top:-80px; */
/*     padding-top:5px; */
/*     color:#f5f5f5; */
/*     left:calc(50% - 20px); */
/* } */

.drawingBuffer{
  display:none !important;

}

html, body{

overflow-x: -moz-hidde-unscrollable;
    overflow-x: -moz-scrollbars-horizontal !important;
    overflow-x: hidden;
}
#container h1{
  color:#ec008c;
  text-decoration-line: underline;
    text-decoration-style: double;
    margin-top:30px;
    font-size:30px;
  text-transform:uppercase;
}
p{
  margin:20px !important;
  font-size:16px !important;
}
.sub{
    font-size: 12px;
}
.myname{
  color:#ec008c;
  position:absolute;
  margin-top:-30px !important;
  font-size:10px !important;
}
