{% extends 'base.html' %}

{% block content %}
<form method='POST'> {% csrf_token %}
	<h1>Do you want to delete the ingredient "{{object.name }}"?</h1>
	<button type="submit" class="btn btn-success">Yes</button>
	<button type="cancel" class="btn btn-default"><a href='../..'>Cancel</a></button>
</form>
{% endblock %}