{% extends 'base.html' %}

{% block content %}

<h1>Ingredient Dataset Overview</h1>
{% for instance in object_list %}
	<p>name: {{ instance.name }} - <a href='{{ instance.get_absolute_url }}'>detail</a> - <a href='{{ instance.get_absolute_url }}/delete'>delete</a></p>
{% endfor %}
<a href='./create'>Add another ingredient</a>

{% endblock %}