{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Create new card</h1>
<form method='POST'> {% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Create Card</button>
</form>
{% endblock %}