{% extends 'base.html' %}

{% block content %}

<h1>Card Swiping Summary</h1>
{% for instance in object_list %}
	<p>name: {{ instance.name }} - state: {{ instance.state }}</p>
{% endfor %}

{% endblock %}