{% extends 'base.html' %}

{% block content %}
<h1>Card Swipe View</h1>

{% if object == None %}
No more cards left to swipe.
<form method='POST'> {% csrf_token %}
    <button type="submit" name="submit-reset" value="1">Reset all swipes</button>
</form>
<a href='../list'>View swiping results</a>

{% else %}
<p>Name: {{ object.name }}</p>
<p>Description: {{ object.detail_info }}</p>
<p>Score: {{ object.score }}</p>

<form method='POST'> {% csrf_token %}
    <button type="submit" name="submit-yes" value="1">Yes</button>
    <button type="submit" name="submit-no" value="1">No</button>
</form>
{% endif %}
{% endblock %}