{% extends 'base.html' %}

{% block content %}
<h1>Recipe Detail View</h1>
<p>Name: {{ object.name }}</p>
{% if object.img_path == None %}
 <img class='ing_img' src="https://images-na.ssl-images-amazon.com/images/I/512n3p9EpEL._AC_SX466_.jpg" alt="A placeholder image">
{% else %}
 <img src= {{ object.img_path }} alt="An image">
{% endif %}
<p>prep_steps: {{ object.prep_steps }}</p>
<p>prep_time: {{ object.prep_time }}</p>

<p><a href='{{ object.get_absolute_url }}/update'>update</a> <a href='{{ object.get_absolute_url }}/delete'>delete</a></p>
{% endblock %}
