{% extends 'base.html' %}

{% block content %}

	<h1>Recipe Dataset Overview</h1>

	<table class="header-table table table-hover">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Detail</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for instance in object_list %}
				<tr>
					<td class="key-cell">
						<span>{{ instance.name }} </span>
                </td>
                <td class="value-cell">
                    <span><a href='{{ instance.get_absolute_url }}'>detail</a></span>
                </td>
				<td class="value-cell">
                    <span><a href='{{ instance.get_absolute_url }}/delete'>delete</a></span>
                </td>

            </tr>
		{% endfor %}
    </tbody>
</table>
            </div>

<a href='./create'>Add another recipe</a>

{% endblock %}
